.logo-header > a {
  font-family: 'Lobster Two', cursive;
  text-decoration: none;
  font-size: 26px;
  color: #125688;
}

.nav-header {
  margin: 0;
  padding: 0;
  background: white;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.profile-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70px;
}
