.logo-header {
  width: 160px; //make same as nav-right width for flex box centering
  font-family: 'Lobster Two', cursive;
  text-decoration: none;
  font-size: 26px;
  color: #125688;
}

.nav-header {
  margin: 0;
  padding: 0;
  background: white;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.profile-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70px;
}

.create-post-button {
  cursor: pointer;
  color: #125688;
}

.logout-button {
  cursor: pointer;
  color: #125688;
}

.nav-right {
  width: 160px;
  display: flex;
  justify-content: space-between;
}

.user-icon {
  cursor: pointer;
  color: #125688;
}

.search-field {
  background-color: #fafafa;
  border-radius: 10px;
  padding: 2px;
  border: 1px solid rgb(238, 238, 238);
  text-align: center;
  font-weight: 200;
  font-size: 14px;
  width: 200px;
}

.user-search-box {
  z-index: 2;
  position: absolute;
  width: 240px;
  max-height: 250px;
  overflow-y: auto;
  border-radius: 4px;
  -webkit-box-shadow: 10px 10px 44px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 44px -5px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 44px -5px rgba(0,0,0,0.75);
}

.user-search-result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  border: solid 1px lightblue;
  border-radius: 4px;
  background: white;
  overflow: auto;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #125688;
}

.user-search-result .profile-image {
  width: 40px;
  height: 40px;
}

.user-search-result:hover {
  background: lightblue;
}
