// Place all the styles related to the api/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.post-picture {
  display: flex;
  justify-content: center;
  width: 600px;
  height: 600px;
  overflow: hidden;
}

.post-picture > img {
  width: auto;
  height: 100%;
}

.post-header {
  width: 600px;
  height: 64px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}

.post-header .profile-image {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

.post-timestamp {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin-right: 20px;
  color: #a5a7aa;
}

.post-header-username {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin-left: 15px;
  text-decoration: none;
  color: #125688;
  width: 475px;
}

.post {
  background-color: #FFF;
  border-radius: 5px;
  margin-bottom: 60px;
  margin-left: -1px;
  margin-right: -1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.index {
  display: flex;
  flex-direction: column-reverse; // display latest posts first
  align-items: center;
  margin: auto;
  max-width: 600px;
  width: 100%;
  padding-top: 60px;
}

.fa-spinner {
  color: gray;
}

.welcome-message {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: gray;
  text-align: center;
}

.comment-box {
  padding: 20px;
}

.comment-index-item {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.comment-username {
  color: #125688;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.comment-body {
  padding-left: 10px;
  margin-right: auto;
  max-width: 400px;
  word-wrap: break-word;
}

.fa-times {
  color: #a5a7aa;
  cursor: pointer;
}

.comment-form {
  display: flex;
  align-items: center;
  height: 70px;
  border-top: solid 1px #eeeeee;
}

.comment-field {
  border: none;
  font-size: medium;
  width: 500px;
  padding: 10px;
}


.like-count {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.like-button {
  height: 30px;
  width: 32px;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.like-button:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.filled-heart {
  color: red;
}

.empty-heart {
  color: gray;
}
