// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// FOR PROFILE PAGE

.profile-post-index {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: auto;
  flex-wrap: wrap;
}

.profile-post-picture {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin-bottom: 30px;
}

.profile-post-picture > img {
  width: auto;
  height: 100%;
}

.profile-image-button {
  cursor: pointer;
  width: 200px;
  height: 200px;
}

// TODO: need to find better approach
.profile-image {
  width: auto;
  height: 100%;
}

.user-show {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-header {
  display: flex;
  position: relative;
  padding: 40px;
}

.user-info-box {
  width: 400px;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info-box h1 {
  font-weight: normal;
  font-size: 34px;
  // font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-family: 'Open Sans', sans-serif;
}

.user-info-box h3 {
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.profile-header-name {
  display: flex;
  align-items: center;
}

.follow-button-box {
  width: 200px;
  display: flex;
  justify-content: center;
}

.user-stats {
  display: flex;
  justify-content: space-around;
  width: 80%;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.user-stats-number {
  font-weight: 700;
}
