// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// FOR PROFILE PAGE

.profile-post-index {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  flex-wrap: wrap;
}

.profile-post-picture {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin-bottom: 30px;
}

.profile-post-picture > img {
  width: auto;
  height: 100%;
  cursor: pointer;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.profile-post-picture > img:hover {
  opacity: .7;
  -webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  cursor: pointer;
}

.user-show {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-header {
  display: flex;
  position: relative;
  padding: 40px;
}

.user-info-box {
  width: 400px;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info-box h1 {
  font-weight: normal;
  font-size: 34px;
  font-family: 'Open Sans', sans-serif;
}

.user-info-box h3 {
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.profile-header-name {
  display: flex;
  align-items: center;
}

.follow-button-box {
  width: 200px;
  display: flex;
  justify-content: center;
}

.user-stats {
  display: flex;
  justify-content: space-around;
  width: 80%;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.user-stats-number {
  font-weight: 700;
}

.modal-picture {
  display: flex;
  justify-content: center;
  width: 600px;
  height: 600px;
  overflow: hidden;
}

.modal-picture > img {
  width: auto;
  height: 100%;
}

.modal-post-info .post-header {
  width: 335px;
  height: 64px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px;
}

.modal-post-info .comment-box {
  width: 295px;
  height: 496px;
  padding: 20px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-post-info .comment-index-box {
  height: 400px;
}
